.container {
    width: 80vw;
    height: 70vh;
}

.box {
    width: 30%;
    height: 40%;
    background-color: blue;
    margin: auto;
}
input {
    display: block;
    padding: 20px;
    margin-bottom: 10px;
    margin: auto;
}